.cell {
    background-color: whitesmoke;
    height: 1rem;
    width: 1rem;
    outline: none;
    border: 1px solid #dddddd;
    display: block;
    padding: 0;
    border-radius: 0;
    
    &:hover {
        background-color: #dddddd;
    }
    
    &--alive {
        background-color: #000000;
    }
}