.board {
    display: grid;
    justify-content: center;
}

.overlay {
    display: grid;
    background-color: #eb4343;
    justify-content: center;
    align-content: center;
    text-align: center;
    color: #ffffff;
    margin: auto;

    strong {
        font-size: 3rem;
    }
}