* {
  box-sizing: border-box;
  font-size: 16px;
}

.App {
  background-color: whitesmoke;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  padding: 2rem;
}


.main {
  display: grid;
  grid-template-columns: 60% 40%;
  max-width: 80%;
  justify-items: center;
}
